/* style.css */
.macos-window {
  width: 100%;
  background-color: #222;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  display: flex;
  flex-direction: column;
}

.menu-bar {
  background-color: #333;
  color: white;
  height: 24px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: relative;
}

.menu-bar-item {
  margin-right: 16px;
  padding: 0 6px;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: default;
}

.menu-bar-item:hover {
  background-color: #444;
}

.menu-bar-item.active {
  background-color: #4b80c0;
}

.menu-bar-item.bold {
  font-weight: bold;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  background-color: transparent;
  background: linear-gradient(180deg, #373c5c 0%, #283044 100%);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  width: 240px;
  z-index: 100;
}

.menu-section.dark {
  background-color: #1e2335;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  padding: 4px 16px;
  color: white;
  font-size: 13px;
  cursor: default;
}

.menu-item:hover {
  background-color: #4b80c0;
}

.menu-item.selected {
  background-color: #4b80c0;
}

.menu-item.with-divider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 8px;
}

.menu-item-content {
  display: flex;
  align-items: center;
}

.menu-item-icon {
  margin-right: 8px;
  display: flex;
  align-items: center;
  display: inline;
}

.menu-item-icon > svg {
  width: 20px;
}

.menu-item-shortcut {
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
}

.recent-folders-item {
  display: flex;
  justify-content: space-between;
  padding: 4px 16px;
  padding-left: 32px;
  color: white;
  font-size: 13px;
  cursor: default;
}

.recent-folders-item:hover {
  background-color: #4b80c0;
}

.submenu {
  position: absolute;
  left: 100%;
  top: 0;
  background: linear-gradient(180deg, #373c5c 0%, #283044 100%);
  border-radius: 4px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  width: 200px;
}
